In [390]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import psycopg2
from sqlalchemy import create_engine
import os

In [391]:
cur_wb = pd.read_excel('C:/Users/brada/OneDrive/Desktop/2022_rec_22.xlsx',header=1,parse_dates=True)

In [392]:
cur_wb.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rk           150 non-null    int64
 1   Player       150 non-null    object
 2   Yds          150 non-null    int64
 3   Tgt          150 non-null    int64
 4   Day          150 non-null    object
 5   G#           150 non-null    int64
 6   Week         150 non-null    int64
 7   Date         150 non-null    datetime64[ns]
 8   Age          150 non-null    object
 9   Team         150 non-null    object
 10  Unnamed: 10  78 non-null     object
 11  Opp          150 non-null    object
 12  Result       150 non-null    object
 13  Tgt.1        150 non-null    int64
 14  Rec          150 non-null    int64
 15  Yds.1        150 non-null    int64
 16  Y/R          63 non-null     float64
 17  TD           150 non-null    int64
 18  Ctch%        150 non-null    float64
 19  Y/Tgt        150 non-null    float64
 20  1D           40 non-null     float64
 21  Pos.         150 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(9), object(8)
memory usage: 25.9+ KB

In [393]:
cur_wb.rename(columns={ 'Y/R': 'Yds_Rec'},inplace=True)

In [394]:
cur_wb.rename(columns={ 'Unnamed: 10': 'Home_Away','Pos.':'Pos'},inplace=True)

In [395]:
cur_wb.rename(columns={'Ctch%':'Ctch_Per','Y/Tgt':'Yds_Tgt' },inplace=True)

In [396]:
cur_wb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rk         150 non-null    int64
 1   Player     150 non-null    object
 2   Yds        150 non-null    int64
 3   Tgt        150 non-null    int64
 4   Day        150 non-null    object
 5   G#         150 non-null    int64
 6   Week       150 non-null    int64
 7   Date       150 non-null    datetime64[ns]
 8   Age        150 non-null    object
 9   Team       150 non-null    object
 10  Home_Away  78 non-null     object
 11  Opp        150 non-null    object
 12  Result     150 non-null    object
 13  Tgt.1      150 non-null    int64
 14  Rec        150 non-null    int64
 15  Yds.1      150 non-null    int64
 16  Yds_Rec    63 non-null     float64
 17  TD         150 non-null    int64
 18  Ctch_Per   150 non-null    float64
 19  Yds_Tgt    150 non-null    float64
 20  1D         40 non-null     float64
 21  Pos        150 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(9), object(8)
memory usage: 25.9+ KB

In [397]:
cur_wb.drop(columns=['Tgt.1','Yds.1'],inplace=True)

In [398]:
cur_wb.loc[cur_wb['Home_Away'] == '@', 'Home_Away'] = 'Away'

cur_wb['Home_Away'].fillna('Home',inplace=True)

In [399]:
cur_wb[['Age','AgeDays']] = cur_wb['Age'].str.split('-',expand=True)

In [400]:
cur_wb.drop(columns=['AgeDays'],inplace=True)

In [401]:
cur_wb[['Win_Loss','Score']]=cur_wb['Result'].str.split(' ',1,expand=True)

In [402]:
cur_wb['Year'] = 2022

In [403]:
cur_wb["Pkcol"] = cur_wb['Year'].astype(str) +"-"+ cur_wb["Week"].astype(str)+"-"+ cur_wb["Player"].astype(str)

In [404]:
cur_wb['Age'] = pd.to_numeric(cur_wb['Age'])
cur_wb.rename(columns={ 'G#': 'Game','1D':'First_Dwns'},inplace=True)

In [405]:
cur_wb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          150 non-null    int64
 1   Player      150 non-null    object
 2   Yds         150 non-null    int64
 3   Tgt         150 non-null    int64
 4   Day         150 non-null    object
 5   Game        150 non-null    int64
 6   Week        150 non-null    int64
 7   Date        150 non-null    datetime64[ns]
 8   Age         150 non-null    int64
 9   Team        150 non-null    object
 10  Home_Away   150 non-null    object
 11  Opp         150 non-null    object
 12  Result      150 non-null    object
 13  Rec         150 non-null    int64
 14  Yds_Rec     63 non-null     float64
 15  TD          150 non-null    int64
 16  Ctch_Per    150 non-null    float64
 17  Yds_Tgt     150 non-null    float64
 18  First_Dwns  40 non-null     float64
 19  Pos         150 non-null    object
 20  Win_Loss    150 non-null    object
 21  Score       150 non-null    object
 22  Year        150 non-null    int64
 23  Pkcol       150 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(9), object(10)
memory usage: 28.3+ KB

In [406]:
from sqlalchemy import create_engine
  
conn_string = 'postgresql://brada:Feasant1@172.28.176.1/nfl_stats'
db = create_engine(conn_string)

In [407]:
conn = db.connect()  
cur_wb.to_sql('receiving', con=conn, if_exists='append',index=True)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

In [408]:
with db.connect() as con:
    con.execute('ALTER TABLE "receiving" ADD PRIMARY KEY ("Pkcol");')

ProgrammingError: (psycopg2.errors.InvalidTableDefinition) multiple primary keys for table "receiving" are not allowed

[SQL: ALTER TABLE "receiving" ADD PRIMARY KEY ("Pkcol");]
(Background on this error at: https://sqlalche.me/e/14/f405)