In [400]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import psycopg2
from sqlalchemy import create_engine
import os

In [401]:
print('Get current working directory : ', os.getcwd())

Get current working directory :  C:\Users\brada

In [402]:
cur_wb = pd.read_excel('C:/Users/brada/OneDrive/Desktop/2022_rushing_12.xlsx',header=1,parse_dates=True)

In [403]:
cur_wb.columns

Index(['Rk', 'Player', 'Yds', 'Att', 'Day', 'G#', 'Week', 'Date', 'Age',
       'Team', 'Unnamed: 10', 'Opp', 'Result', 'Att.1', 'Yds.1', 'Y/A', 'TD',
       '1D', 'Pos.'],
      dtype='object')

In [404]:
cur_wb.rename(columns={ 'Unnamed: 10': 'Home_Away','Pos.':'Pos'},inplace=True)

In [405]:
cur_wb.drop(columns=[ 'Att.1','Yds.1'],inplace=True)

In [406]:
cur_wb.loc[cur_wb['Home_Away'] == '@', 'Home_Away'] = 'Away'

cur_wb['Home_Away'].fillna('Home',inplace=True)

In [407]:
cur_wb[['Age','AgeDays']] = cur_wb['Age'].str.split('-',expand=True)

In [408]:
cur_wb.drop(columns=['AgeDays'],inplace=True)

In [409]:
cur_wb[['Win_Loss','Score']]=cur_wb['Result'].str.split(' ',1,expand=True)

In [410]:
cur_wb['Year'] = 2022

In [411]:
cur_wb["Pkcol"] = cur_wb['Year'].astype(str) +"-"+ cur_wb["Week"].astype(str)+"-"+ cur_wb["Player"].astype(str)

In [412]:
cur_wb['Age'] = pd.to_numeric(cur_wb['Age'])
cur_wb.rename(columns={ 'G#': 'Game','1D':'First_Dwns'},inplace=True)
cur_wb.rename(columns={ 'Y/A': 'Yds_Att'},inplace=True)

In [413]:
cur_wb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          87 non-null     int64
 1   Player      87 non-null     object
 2   Yds         87 non-null     int64
 3   Att         87 non-null     int64
 4   Day         87 non-null     object
 5   Game        87 non-null     int64
 6   Week        87 non-null     int64
 7   Date        87 non-null     datetime64[ns]
 8   Age         87 non-null     int64
 9   Team        87 non-null     object
 10  Home_Away   87 non-null     object
 11  Opp         87 non-null     object
 12  Result      87 non-null     object
 13  Yds_Att     87 non-null     float64
 14  TD          87 non-null     int64
 15  First_Dwns  50 non-null     float64
 16  Pos         87 non-null     object
 17  Win_Loss    87 non-null     object
 18  Score       87 non-null     object
 19  Year        87 non-null     int64
 20  Pkcol       87 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(8), object(10)
memory usage: 14.4+ KB

In [414]:
from sqlalchemy import create_engine
  
conn_string = 'postgresql://brada:Feasant1@172.28.176.1/nfl_stats'
db = create_engine(conn_string)

In [415]:
conn = db.connect()  
cur_wb.to_sql('rushing', con=conn, if_exists='append',index=True)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

In [239]:
with db.connect() as con:
    con.execute('ALTER TABLE "rushing" ADD PRIMARY KEY ("Pkcol");')