In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import psycopg2
from sqlalchemy import create_engine
import os

In [125]:
print('Get current working directory : ', os.getcwd())

Get current working directory :  C:\Users\brada

In [126]:
cur_wb = pd.read_excel('C:/Users/brada/OneDrive/Desktop/2022_passing_4.xlsx',header=1,parse_dates=True)

In [127]:
cur_wb.columns

Index(['Rk', 'Player', 'Rate', 'Att', 'Day', 'G#', 'Week', 'Date', 'Age',
       'Team', 'Unnamed: 10', 'Opp', 'Result', 'Cmp', 'Att.1', 'Inc', 'Cmp%',
       'Yds', 'TD', 'Int', 'Pick6', 'TD%', 'Int%', 'Rate.1', 'Sk', 'Yds.1',
       'Sk%', 'Y/A', 'AY/A', 'ANY/A', 'Y/C', 'Pos.'],
      dtype='object')

In [128]:
cur_wb.rename(columns={ 'Unnamed: 10': 'Home_Away','Pos.':'Pos'},inplace=True)

In [129]:
cur_wb.rename(columns={ 'Cmp%':'Comp_Per','TD%':'TD_Per','Int%':'Int_Per','G#':'Game','Sk%':'Sk_Per','Y/A':'Yds_Att','AY/A':'Adj_Yds_Att','ANY/A':'Adj_Net_Yds_Att','Y/C':'Yds_Per_Comp'},inplace=True)

In [130]:
cur_wb.drop(columns=['Rate.1', 'Att.1','Yds.1'],inplace=True)

In [131]:
cur_wb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               55 non-null     int64
 1   Player           55 non-null     object
 2   Rate             55 non-null     float64
 3   Att              55 non-null     int64
 4   Day              55 non-null     object
 5   Game             55 non-null     int64
 6   Week             55 non-null     int64
 7   Date             55 non-null     datetime64[ns]
 8   Age              55 non-null     object
 9   Team             55 non-null     object
 10  Home_Away        27 non-null     object
 11  Opp              55 non-null     object
 12  Result           55 non-null     object
 13  Cmp              55 non-null     int64
 14  Inc              55 non-null     int64
 15  Comp_Per         55 non-null     float64
 16  Yds              55 non-null     int64
 17  TD               55 non-null     int64
 18  Int              55 non-null     int64
 19  Pick6            55 non-null     int64
 20  TD_Per           55 non-null     float64
 21  Int_Per          55 non-null     float64
 22  Sk               55 non-null     int64
 23  Sk_Per           55 non-null     float64
 24  Yds_Att          55 non-null     float64
 25  Adj_Yds_Att      55 non-null     float64
 26  Adj_Net_Yds_Att  55 non-null     float64
 27  Yds_Per_Comp     31 non-null     float64
 28  Pos              55 non-null     object
dtypes: datetime64[ns](1), float64(9), int64(11), object(8)
memory usage: 12.6+ KB

In [132]:
cur_wb.describe(include='all')

C:\Users\brada\AppData\Local\Temp\ipykernel_10020\2081243510.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  cur_wb.describe(include='all')

,Rk,Player,Rate,Att,Day,Game,Week,Date,Age,Team,Home_Away,Opp,Result,Cmp,Inc,Comp_Per,Yds,TD,Int,Pick6,TD_Per,Int_Per,Sk,Sk_Per,Yds_Att,Adj_Yds_Att,Adj_Net_Yds_Att,Yds_Per_Comp,Pos
count,55.00000,55,55.000000,55.000000,55,55.000000,55.000000,55,55,55,27,55,55,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,31.000000,55
unique,NaN,44,NaN,NaN,4,NaN,NaN,25,55,28,1,25,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
top,NaN,Malik Willis,NaN,NaN,Sun,NaN,NaN,2023-01-08 00:00:00,27-049,CHI,@,SFO,L 7-41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QB
freq,NaN,3,NaN,NaN,42,NaN,NaN,5,1,5,27,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,628.00000,NaN,31.209091,9.036364,NaN,10.163636,10.727273,NaN,NaN,NaN,NaN,NaN,NaN,4.218182,4.818182,26.343636,43.836364,0.054545,0.927273,0.036364,0.194545,15.078182,1.072727,7.018727,2.572727,-4.173091,-4.644909,9.770968,NaN
std,16.02082,NaN,14.159767,9.914381,NaN,4.954473,5.369511,NaN,NaN,NaN,NaN,NaN,NaN,5.462637,4.686825,25.267383,59.324208,0.229184,0.978558,0.188919,0.845559,28.060825,1.814086,11.146521,2.713850,13.311849,13.138076,4.056615,NaN
min,601.00000,NaN,0.000000,1.000000,NaN,2.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-45.000000,-45.000000,1.000000,NaN
25%,614.50000,NaN,29.900000,1.000000,NaN,6.500000,6.500000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.055000,7.400000,NaN
50%,628.00000,NaN,39.600000,5.000000,NaN,11.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,3.000000,30.000000,9.000000,0.000000,1.000000,0.000000,0.000000,7.700000,0.000000,0.000000,1.500000,0.000000,0.000000,10.100000,NaN
75%,641.50000,NaN,39.600000,15.000000,NaN,14.500000,15.500000,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,8.500000,51.650000,79.500000,0.000000,1.500000,0.000000,0.000000,12.150000,1.000000,12.545000,5.100000,1.275000,0.185000,12.100000,NaN
max,655.00000,NaN,43.400000,38.000000,NaN,17.000000,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,20.000000,66.700000,195.000000,1.000000,3.000000,1.000000,4.800000,100.000000,7.000000,50.000000,7.300000,4.950000,4.300000,19.900000,NaN

In [133]:
cur_wb.columns

Index(['Rk', 'Player', 'Rate', 'Att', 'Day', 'Game', 'Week', 'Date', 'Age',
       'Team', 'Home_Away', 'Opp', 'Result', 'Cmp', 'Inc', 'Comp_Per', 'Yds',
       'TD', 'Int', 'Pick6', 'TD_Per', 'Int_Per', 'Sk', 'Sk_Per', 'Yds_Att',
       'Adj_Yds_Att', 'Adj_Net_Yds_Att', 'Yds_Per_Comp', 'Pos'],
      dtype='object')

In [134]:
cur_wb['Home_Away'].describe()

count     27
unique     1
top        @
freq      27
Name: Home_Away, dtype: object

In [135]:
for col in cur_wb.columns:
    print(f'Column: {col} Nan Values: {cur_wb[col].isna().sum()}')

Column: Rk Nan Values: 0
Column: Player Nan Values: 0
Column: Rate Nan Values: 0
Column: Att Nan Values: 0
Column: Day Nan Values: 0
Column: Game Nan Values: 0
Column: Week Nan Values: 0
Column: Date Nan Values: 0
Column: Age Nan Values: 0
Column: Team Nan Values: 0
Column: Home_Away Nan Values: 28
Column: Opp Nan Values: 0
Column: Result Nan Values: 0
Column: Cmp Nan Values: 0
Column: Inc Nan Values: 0
Column: Comp_Per Nan Values: 0
Column: Yds Nan Values: 0
Column: TD Nan Values: 0
Column: Int Nan Values: 0
Column: Pick6 Nan Values: 0
Column: TD_Per Nan Values: 0
Column: Int_Per Nan Values: 0
Column: Sk Nan Values: 0
Column: Sk_Per Nan Values: 0
Column: Yds_Att Nan Values: 0
Column: Adj_Yds_Att Nan Values: 0
Column: Adj_Net_Yds_Att Nan Values: 0
Column: Yds_Per_Comp Nan Values: 24
Column: Pos Nan Values: 0

In [136]:
cur_wb.loc[cur_wb['Home_Away'] == '@', 'Home_Away'] = 'Away'

cur_wb['Home_Away'].fillna('Home',inplace=True)

In [137]:
cur_wb['Home_Away'].head(5)

0    Home
1    Away
2    Away
3    Away
4    Home
Name: Home_Away, dtype: object

In [138]:
pd.set_option('display.max_columns', None)
cur_wb.head(5)

,Rk,Player,Rate,Att,Day,Game,Week,Date,Age,Team,Home_Away,Opp,Result,Cmp,Inc,Comp_Per,Yds,TD,Int,Pick6,TD_Per,Int_Per,Sk,Sk_Per,Yds_Att,Adj_Yds_Att,Adj_Net_Yds_Att,Yds_Per_Comp,Pos
0,601,John Wolford,43.4,26,Sun,12,13,2022-12-04,27-049,LAR,Home,SEA,L 23-27,14,12,53.8,178,0,2,0,0.0,7.7,4,13.33,6.8,3.38,1.93,12.7,QB
1,602,Joe Flacco,42.4,3,Sun,13,14,2022-12-11,37-329,NYJ,Away,BUF,L 12-20,1,2,33.3,1,0,0,0,0.0,0.0,1,25.00,0.3,0.33,-1.25,1.0,QB
2,603,Kyle Trask,42.4,9,Sun,17,18,2023-01-08,24-308,TAM,Away,ATL,L 17-30,3,6,33.3,23,0,0,0,0.0,0.0,0,0.00,2.6,2.56,2.56,7.7,QB
3,604,Derek Carr,42.2,30,Sat,15,16,2022-12-24,31-271,LVR,Away,PIT,L 10-13,16,14,53.3,174,1,3,0,3.3,10.0,3,9.09,5.8,1.97,0.85,10.9,QB
4,605,Zach Wilson,41.9,18,Thu,15,16,2022-12-22,23-141,NYJ,Home,JAX,L 3-19,9,9,50.0,92,0,1,0,0.0,5.6,3,14.29,5.1,2.61,1.24,10.2,QB

In [139]:
cur_wb[['Age','AgeDays']] = cur_wb['Age'].str.split('-',expand=True)

In [140]:
cur_wb['Age'] = pd.to_numeric(cur_wb['Age'])

In [141]:
cur_wb.drop(columns=['AgeDays'],inplace=True)

In [142]:
cur_wb.head(5)

,Rk,Player,Rate,Att,Day,Game,Week,Date,Age,Team,Home_Away,Opp,Result,Cmp,Inc,Comp_Per,Yds,TD,Int,Pick6,TD_Per,Int_Per,Sk,Sk_Per,Yds_Att,Adj_Yds_Att,Adj_Net_Yds_Att,Yds_Per_Comp,Pos
0,601,John Wolford,43.4,26,Sun,12,13,2022-12-04,27,LAR,Home,SEA,L 23-27,14,12,53.8,178,0,2,0,0.0,7.7,4,13.33,6.8,3.38,1.93,12.7,QB
1,602,Joe Flacco,42.4,3,Sun,13,14,2022-12-11,37,NYJ,Away,BUF,L 12-20,1,2,33.3,1,0,0,0,0.0,0.0,1,25.00,0.3,0.33,-1.25,1.0,QB
2,603,Kyle Trask,42.4,9,Sun,17,18,2023-01-08,24,TAM,Away,ATL,L 17-30,3,6,33.3,23,0,0,0,0.0,0.0,0,0.00,2.6,2.56,2.56,7.7,QB
3,604,Derek Carr,42.2,30,Sat,15,16,2022-12-24,31,LVR,Away,PIT,L 10-13,16,14,53.3,174,1,3,0,3.3,10.0,3,9.09,5.8,1.97,0.85,10.9,QB
4,605,Zach Wilson,41.9,18,Thu,15,16,2022-12-22,23,NYJ,Home,JAX,L 3-19,9,9,50.0,92,0,1,0,0.0,5.6,3,14.29,5.1,2.61,1.24,10.2,QB

In [143]:
cur_wb[['Win_Loss','Score']]=cur_wb['Result'].str.split(' ',1,expand=True)

In [144]:
cur_wb['Year'] = 2022

In [145]:
cur_wb["Pkcol"] = cur_wb['Year'].astype(str) +"-"+ cur_wb["Week"].astype(str)+"-"+ cur_wb["Player"].astype(str)

In [146]:
cur_wb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               55 non-null     int64
 1   Player           55 non-null     object
 2   Rate             55 non-null     float64
 3   Att              55 non-null     int64
 4   Day              55 non-null     object
 5   Game             55 non-null     int64
 6   Week             55 non-null     int64
 7   Date             55 non-null     datetime64[ns]
 8   Age              55 non-null     int64
 9   Team             55 non-null     object
 10  Home_Away        55 non-null     object
 11  Opp              55 non-null     object
 12  Result           55 non-null     object
 13  Cmp              55 non-null     int64
 14  Inc              55 non-null     int64
 15  Comp_Per         55 non-null     float64
 16  Yds              55 non-null     int64
 17  TD               55 non-null     int64
 18  Int              55 non-null     int64
 19  Pick6            55 non-null     int64
 20  TD_Per           55 non-null     float64
 21  Int_Per          55 non-null     float64
 22  Sk               55 non-null     int64
 23  Sk_Per           55 non-null     float64
 24  Yds_Att          55 non-null     float64
 25  Adj_Yds_Att      55 non-null     float64
 26  Adj_Net_Yds_Att  55 non-null     float64
 27  Yds_Per_Comp     31 non-null     float64
 28  Pos              55 non-null     object
 29  Win_Loss         55 non-null     object
 30  Score            55 non-null     object
 31  Year             55 non-null     int64
 32  Pkcol            55 non-null     object
dtypes: datetime64[ns](1), float64(9), int64(13), object(10)
memory usage: 14.3+ KB

In [147]:
from sqlalchemy import create_engine
  
conn_string = 'postgresql://brada:Feasant1@172.28.176.1/nfl_stats'
db = create_engine(conn_string)

In [148]:
conn = db.connect()  
cur_wb.to_sql('passing', con=conn, if_exists='append',index=True)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

In [73]:
with db.connect() as con:
    con.execute('ALTER TABLE "passing" ADD PRIMARY KEY ("Pkcol");')